

<div class="post-body">
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <%= link_to user_path(@user.id) do %>
  <p><%= @user.name %></p>
  <% end %>
  <%= link_to book_path(@book.id) do %>
  <p><%= @book.title %></p>
  <% end %>
  <p><%= @book.body %></p>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか?" %>